.videoSidebar{
    position: absolute;
    top: 50%;
    right: 10px;
    color: white
}

.videoSidebar_icons{
    padding: 7px;
    text-align: center;
}

.videoSidebar_icons :hover{
    cursor: pointer;
}