.videofooter{
    position: relative;
    bottom: 130px;
    color: white;
    margin-left: 20px;
    display: flex;
}

.videofooter_text{
    flex: 1;
}

.videofooter_text h3{
 padding-bottom: 10px;
}

.videofooter_text p{
    padding-bottom: 20px;
 }
   
.videofooter_icon{
    position: absolute;
}

.ticker{
    height: fit-content;
    margin-left: 30px;
    width: 60%;
}

.videofooter_record{
    height: 50px;
    margin-top: 70px;
    margin-right: 20px;
    filter: invert(1);
    animation: spinRecord 2s infinite;
}

@keyframes spinRecord {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}